# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

build*
.clang-format
.DS_Store
.kdev4/
*.kdev4
compile_commands.json
.cache/
.vscode/
*.user
.flatpak-builder/
.idea/
cmake-build-*
*.log
